
body{
    background-color: azure;
}

#color1{
    background-color: black;
    height: 200px;
}

.color2{
    background-color: whitesmoke;
    height: 20px;
}

#color3{
    background-color: red;
    height: 200px;
}

#color4{
    background-color: green;
    height: 200px;
}

.Kenyan_Flag{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 120px; /* adjust size */
    height: auto;
    z-index: 10;
}