body{
    background-color: antiquewhite;
}

#par1{
    color: blue;
    background-color: coral;
    font-size: 26px;
    padding-bottom: 20px;
    text-align: center;
}

#par2{
    color: aquamarine;
    font-size: 23px;
    background-color: burlywood;
    padding: 10px;
    text-align: end;
    text-transform: uppercase;
    text-decoration: underline;
}

#par3{
    color:firebrick ;
    background-color: darkcyan;
    font-size: 20px;
    text-align: center;
    text-decoration:overline;
    text-transform: capitalize;
    padding: 20px;
    margin: 25px;
}

.myparagraph{
    color: darkgreen;
    font-size: 20px;
    background-color:darkorange;
    padding: 20px;
}

.mydivisions{
    background-color:rgb(129, 55, 70) ;
    color: cornflowerblue;
    font-size: 25px;
    text-align: center;
    padding: 20px;
}